﻿@page
@model HomeModel

    <table>
        @foreach (var u in Model.repository.UserStats) {
            <tr>
                <td>@u.UserID</td>
                <td>@u.Registered</td>
                <td>@u.LastActivity</td>
            </tr>
        }
    </table>
